/* font-family: "Noto Sans KR", sans-serif;
  font-family: "Orbit", sans-serif;
  font-family: "Black Han Sans", sans-serif; */

body {
    color: #1f1f1f !important;
    background-color: #f9f9f9 !important;
}

* {
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -.5px;
    font-weight: 400;
}

.todo-container {
    max-width: 1024px;
    margin: 0 auto;

    .logout-wrap {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 20px;

        .btn-logout {
            text-decoration: underline;
            margin-left: 20px;
            color: #1f1f1f;
            cursor: pointer;

            &:hover {
                color: rgb(255, 109, 109);
            }
        }
    }

    .add-item-wrap {
        margin-top: 50px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .input-box {
            padding: 10px;
            width: 100%;
            border: 1px solid #e0e0e0;
            margin-right: 16px;

            &:focus {
                outline: none;
            }
        }

        .button-add {
            height: 46px;
            width: 120px;
            border: none;
            background: rgb(0, 38, 160);
            color: white;

            &:hover {
                background: rgb(16, 70, 255);
                color: white;
            }
        }

    }
}


.todo-board {
    .tab-container{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin: 0 0 10px;
        h2 {
            font-family: "Orbit", sans-serif;
            font-size: 24px;
            margin-bottom: 0;
        }
        .tab-wrap{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 16px;
            margin-bottom: 0;
            li {
                margin-left: 10px;
                list-style: none;
                cursor: pointer;
                padding: 2px 6px;
                border-radius: 50px;
                font-size: 14px;
                background-color: #e0e0e0;
                &.active,
                &:hover{
                    color: #ffffff;
                    background-color: rgb(33, 172, 211);
                }
            }
        }
    }
}

.todo-item {
    border: 1px solid #e0e0e0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    border-bottom: 0;

    &:last-child {
        border-bottom: 1px solid #e0e0e0;
    }

    &.complete {
        background-color: #f0f0f0;

        .todo-task {
            color: #999999;
        }
    }

    input[type="checkbox"] {
        /* background: url("~/assets/images/common/input/check_empty.svg") no-repeat center / contain; */
        width: 20px;
        height: 20px;
        margin-right: 16px;
        cursor: pointer;
    }

    .button-update {
        background-color: white;
        border: 1px solid rgb(135, 154, 250);
        color: rgb(135, 154, 250);
        margin-right: 4px;

        &:hover {
            background-color: #333;
            border: 1px solid #333;
            color: #ffffff;
        }
    }

    .button-delete {
        background-color: white;
        border: 1px solid rgb(250, 135, 135);
        color: rgb(250, 135, 135);

        &:hover {
            background-color: #333;
            border: 1px solid #333;
            color: #ffffff;
        }
    }
}

.todo-content {
    flex: 1;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .todo-task {
        width: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .todo-by {
        font-size: 12px;
        color: #999999;
        padding-left: 10px;
    }
}

// 모달
.ReactModalPortal {
    .ReactModal__Overlay.ReactModal__Overlay--after-open {
        background: rgba(0, 0, 0, 0.65) !important;
    }

    .ReactModal__Content.ReactModal__Content--after-open {
        max-width: 360px;
        width: 100%;
        height: auto;
        max-height: 80vh;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%) !important;
        border-radius: 10px !important;
        text-align: center;
    }

    .modal-wrap {
        text-align: center;

        .modal-title {
            font-size: 28px;
        }
    }
}

// 버튼
button.btn {
    width: 100%;
    height: 40px;
    background: rgb(0, 38, 160);
    margin: 0;
    padding: 0;
    border-radius: 6px;
    border: none;
    color: white;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;

    &:hover {
        background: rgb(16, 70, 255);
        color: white;
    }

    &.btn-submit {
        height: 46px;
    }
}

@media (max-width: 1024px) {
    .todo-container {
        height: 100vh;
        padding: 16px;
    }
}

@media (max-width: 768px) {
    .todo-container {
        .logout-wrap {
            margin-top: 0;
            margin-bottom: 20px;
        }

        .add-item-wrap {
            margin-top: 0;

            .input-box {
                margin-right: 0;
            }

            .button-add {
                width: 90px;
            }
        }
    }

    .todo-item-wrap {
        max-height: calc(100vh - 158.8px - 32px);
        overflow-y: auto;
    }

}