/* 회원가입/로그인 */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .form-box {
        max-width: 480px;
        width: 100%;
        margin: 0 auto;

        h1 {
            font-size: 32px;
            font-weight: 600;
            text-align: center;
        }

        .form-label {
            font-size: 16px;
            font-weight: 500;
        }

        .error-message {
            font-size: 13px;
            padding-top: 6px;
            color: rgb(190, 0, 0);
        }

        .button-wrap {
            p {
                margin-top: 10px;
                width: 100%;
                text-align: center;
            }
        }
    }
}


@media (max-width: 768px) {

    /* 회원가입/로그인 */
    .form-container {
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;

        .form-box {
            padding: 16px;

            h1 {
                padding: 30px 0 20px;
            }
        }


    }
}